body{
    font-family: Arial, Helvetica, sans-serif;
    
}

#headerTop {
    display: flex;
    background-color: #176bad;
    color: white;
    padding: 0.5rem;
    align-items: baseline;
    
   
    
    
}
.inlineMod{
   
}

#headerTop span {
    margin-right: 0.5rem;
}
 

.logo{
    font-weight: bold;
    text-transform: uppercase;
}


#headerBottom{
    display: flex;
    align-items: baseline;
    border-bottom: 3px  solid gray;
    padding: 0.5 rem
    

}


.blueButton{
    color: white;
font-weight: bold;
background-color: #176bad;
cursor: pointer;
padding: 0.3rem;
margin-right: 0.5rem;
border-radius: 3px;
}

#headerBottom button{
    padding: 0;
    border: none;
    background: none;
    margin-right: 1rem;
    cursor: pointer;
}

#headerBottom button.active{
    border-bottom: 2px solid #176bad;
    font-weight: bold;
}

.email {
    padding: 0.4rem;
    padding-left: 1rem;
    border-bottom: 2px solid rgb(59, 57, 57);

    display: flex;

}

.email-name, .email-subject{

    width: 35%;

}

.email-check, .email-date, .email-size {
    width: 8%;

}

.email:nth-child(1){
    font-weight: bold;
}
